apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: devfile-docker-python-rhtap-three-component-scenarios
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/multi-comp-e2e-bibe-tenant/mc-three-scenarios/devfile-docker-python-rhtap-three-component-scenarios@sha256:b70fa1900708727d36c9378430cb88ec6d23e20387f002a8d528c08eebc66baa
        name: my-python
        resources: {}
status: {}
